html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    display: flex;
}

#map {
    width: 60%;
    height: 100vh;
}

#side {
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
}

.controls {
    margin-top: 10px;
}

button {
    padding: 8px 14px;
    margin-right: 10px;
    cursor: pointer;
}
